* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(95, 95, 95);
}

.wall {
    background-color: black;
    margin: auto;
    margin-top: 5%;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.no-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1f700f;
    padding: 10px;
}

.container .container-item {
    background-color: rgb(255, 158, 158);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
}